inst/doc

vignettes/*.html
vignettes/*.R
vignettes/16PF.Rmd
vignettes/16PF/*

.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store

docs/articles/16PF.html
docs/articles/16PF_files/

index.html

Makefile
..Rcheck/*
networktree.Rcheck/*
networktree_*.tar.gz

